/* Presets */
html {
    box-sizing: border-box;
    margin: 0;
}
body {
    background-color: black;
    color: white;
    font-family: Arial,"Verdana", sans-serif;
    margin: 0;
    text-align: center;
}

nav {
    background-color: whitesmoke;
}

hr {
    background-color: gold;
    margin: 0 0 100px 0;
    padding: 5px 0px;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    width: 100%;
    max-width: 570px;
}

ul {
    padding: 0;
}
ol {
    padding: 0;
}

/* Typography */

h1, h2, h3, p {
    margin: 0;
    line-height: 1.2;
}

h1, h2, h3 {
    font-family: Impact, 'Arial Narrow Bold', sans-serif;
    letter-spacing: .1em;
    font-weight: lighter;
}

p {
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 20px;
    font-size: 16px;
}
p:last-child {
    margin-bottom: 0;
}

.btn__group, #abt__us {
    color: whitesmoke;
    text-shadow: 1px 1px 2px black;
    background-color: gold;
    text-decoration: none;
    padding: 0.1em 5px;
    margin: 1em;
    border-radius: 10px;
    
}
.btn__group:hover,
.btn__group:focus-visible {
    text-decoration: underline;
}
#abt__us:hover,
#abt__us:focus-visible {
    text-decoration: underline;
}

/* Home - index Content */

.col__left, .col__right {
    padding-bottom: 120px;
}

.home_img {
    border: 10px;
    border-radius: 100px;
} 

/* About us & Contact us content */
#row {
    padding-bottom: 100px;
}
#social ul {
    display:flex;
    list-style: none;
    margin: 0px;
    padding: 0px;
    justify-content: center;
}
#social a {
    display: inline-block;
    padding: 1.4em;
    margin: 5px;
    color: white;
    text-decoration: none;
  }

#facebook {
    border-radius: 15px;
    width: 30px;
    height: 30px;
    padding: 0;
} 
#instagram {
    border-radius: 15px;
    height: 30px;
    width: 30px;
    padding: 0;
}
#facebook:hover {
    border-radius: 25px;
}
#instagram:hover {
    border-radius: 25px;
}




/* Responsive Query for desktop */

@media only screen and (min-width: 1000px) {

/* Destop */
    
.col__left,.col__img {
    display: flex;
    justify-content: flex-start;
}   
.col__left {
    min-width: 100vh;
    width: 100%;
    align-items: center;
}
.col__right,.col__img {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-start
}
.col__right {
    min-width: 100vh;
    width: 100%;
    align-items: center;
}

.text__info {
    object-position: center;
}
.home_img {
    margin: 2em;
    border: 10px;
    border-radius: 100px;
} 


/* Footer */

#row{
   display: flex;
   width: 100%;
   justify-content: center;
   align-items: center;
}
#row p {
    max-width: 300px;
    text-align: center;
}
.about__img{
    width: 250px;
    height: 250px;
    object-fit: cover;
    object-position: 100% 0%;
}
}